.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  .hero {
    aspect-ratio: 960/300;
    height: 100vh;
    width: 100%;
    background-image: url("../../../public/layered-peaks.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    .hero__text {
      .link-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center center;
        background: #931c1c;
        color: white;
        .name-container {
          display: flex;
          justify-content: center;
          // border-bottom: 3px solid white;
          cursor: pointer;
          .letter-container {
            font-size: 3rem;
            font-family: "Roboto", monospace;
            position: relative;
            width: 1.7rem;
            height: 3rem;
            overflow: hidden;
            font-weight: 700;
            div {
              position: absolute;
              background: #931c1c;
              top: 0;
              left: 0;
              pointer-events: none;
            }
          }
        }
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .experience-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .custom-shape-divider-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      svg {
        position: relative;
        display: block;
        width: calc(132% + 1.3px);
        height: 106px;
      }
      .shape-fill {
        fill: #ffffff;
      }
    }
  }
  .contact-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #d0e, #91f);
  }
}
